Repository r-Techsupport/TechSupportBot, pull requests merged in 2023-07, with the labels that each got.

#524 Remove the directory extension
  techsupport_bot/extensions/directory.py
Labels: Extension: Directory

#504 Make duck timeout match the cooldown set in config
  techsupport_bot/extensions/duck.py
Labels: Extension: Duck

#528 Quickly pin pyyamls cython version
  Dockerfile
Labels: bug, Build/Docker

#556 Auto protect will now ping the offending user again
  techsupport_bot/extensions/protect.py
Labels: Extension: Protect

#520 Makes embeds codefactor compliant, added comments
  techsupport_bot/extensions/embed.py
Labels: Extension: Embed
